



body{
    background-color: rgb(24, 23, 23);
    
}


nav{
    box-sizing: border-box;
    height: 10vh;
    background-color: black;
}

.heart{
    display: flex;
    float: right;
    font-size: 2.5vw;
}

.heart:hover{
    cursor: pointer;
}

.count{
    font-size: 1.7vw;
    transform: translateX(-70%);
}

.title{
    font-size: 2vw;
    padding-left: 3vw;
}

.item-title{
font-size: 3vw;
font-weight: bold;
}

.item-text{
font-size: 1vw;
}

.item{
    font-family: sans-serif, 'Segoe UI', Tahoma, Verdana;
    margin-left: 0;
    margin-top: 4vw;
    margin-bottom: 1vw;
    padding-left: 3vw;
    width: 50%;
}

.photo{
    width: 14vw;
    height: 17vh;
    
}

.photo:hover{
    cursor: pointer;
    border: 1px solid rgb(74, 74, 85);
}

.movies-single{
    box-sizing: border-box;
    float: left;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;

}

.title-movies{
    text-align: center;
    font-size: 0.6rem;
}

.category-title{
font-size: 0.8rem;
margin-top: 2vw;
}

.infomovies{
    width: 40%;
    height: 100%;
    padding-left: 5vw;
    position: absolute;
    color: white;
    background-image: linear-gradient(to right, rgba(24, 23, 23, 1), rgba(24, 23, 23, 1), rgba(24, 23, 23, 1), rgba(24, 23, 23, 1), rgba(24, 23, 23, 1), rgba(24, 23, 23, 1), rgba(24, 23, 23, 1), rgba(24, 23, 23, 1), rgba(24, 23, 23, 1), rgba(24, 23, 23, 1), rgba(24, 23, 23, 1), rgba(24, 23, 23, 1), rgba(24, 23, 23, 1), rgba(24, 23, 23, 1), rgba(24, 23, 23, 1), rgba(24, 23, 23, 1), rgba(24, 23, 23, 1), rgba(24, 23, 23, 0.9), rgba(24, 23, 23, 0.8), rgba(24, 23, 23, 0.7), rgba(24, 23, 23, 0.6), rgba(24, 23, 23, 0.5), rgba(24, 23, 23, 0.4), rgba(24, 23, 23, 0.3), rgba(24, 23, 23, 0.2), rgba(24, 23, 23, 0.1), rgba(24, 23, 23, 0));
    

}


.bg{
    width: 75vw;
    height: 80vh;
    float: right;
    
}

.title1-first{
    box-sizing: border-box;
    margin-bottom: 0;
    justify-items: center;
}

.n {
    color: rgb(185, 14, 14);
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 0.5vw;
    
}

.f {
    font-size: 0.5rem;
    padding-bottom: 5px;
    
}

.infomovies {
    padding-top: 10vh;
}

.title1-second{
font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bold;
font-size: 1.5rem;
margin-top: 0;
}

.title2 {
    font-size: 0.8rem;
}

.info1 {
    font-size: 0.6rem;
    opacity: 0.5;

}

.year{
    margin-right: 0.5vw;
    padding-right: 0.5vw;
    border-right: 1px solid white;

}
.age{
    margin-right: 0.5vw;
    padding-right: 0.5vw;
    border-right: 1px solid white;
}
.duration{
    margin-right: 0.5vw;
    padding-right: 0.5vw;
    border-right: 1px solid white;
}
.genre{
   
}

.description{
    font-size: 0.7rem;
}

.actors{
    font-size: 0.7rem;
}
.starring{
    opacity: 0.5;
}

.filter-btn{
    background-color: rgb(212, 20, 20);
    font-size: 0.8rem;
    padding: 5px 10px;
    font-weight: bold;
    border: none;
    color: white;
    margin-right: 1.5vw;
}

.filter-btn:hover{
    background-color: rgb(255, 25, 25);
}




